/* external stylesheet */
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500&display=swap");
/* @font-face {
  font-family: "avenir";
  font-style: normal;
  font-weight: 400;
  src: local("Avenir"),
    url(https://fonts.cdnfonts.com/s/71748/avenir_roman_12.woff) format("woff");
} */
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.form-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.other-content {
  background-color: white;
  width: 100%;
}

.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #other {
  border-style: double;
  border-radius: 10px;
} */

/* .btn {
  background-color: black;
  color: white;
} */
/* .positive {
  background-color: greenyellow;
}
.negative {
  background-color: pink;
} */

/* .register-form > .btn {
  font-weight: bold;
} */

/* .sign-in-btn:hover {
  background-color: blue;
  font-weight: bold;
} */
/* 
.old-sign-in-btn:active {
  background-color: green;
}

.old-sign-in-btn::first-letter {
  font-weight: bold;
  font-size: 1.5rem;
} */

.container {
  display: flex;
}

.side-image {
  height: 100%;
  width: 100%;
}

.form-content,
.side-content,
.app-info,
.address {
  flex: 1;
}

input {
  display: block;
  height: 75px;
  width: 100%;
  margin-top: 5px;
  border-radius: 20px;
  padding: 20px;
}

footer {
  background-color: #376aed;
}

.full-width {
  width: 100%;
}

.input-div {
  width: 70%;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  position: relative;
  height: 75px;
  width: 70%;
  padding: 20px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: white;
  border-radius: 20px;
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.primary {
  background-color: #376aed;
  box-shadow: 0px 0px 7px #376aed;
}

.primary:active {
  background-color: #7d9ce9;
}

.secondary {
  background-color: #0d253c;
  box-shadow: 0px 0px 7px #0d253c;
}

.secondary:active {
  background-color: #2c3946;
}

.btn-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.cursor {
  cursor: pointer;
}

footer {
  height: 35%;
}

body {
  height: 100vh;
}

.app-info,
.address {
  padding: 50px 70px;
  color: white;
  line-height: 2.5;
}

.address {
  text-align: right;
}
